<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.WorkPeopleMapper">


    <select id="selectWorkPeople" resultType="map">
        select
        a.id, a.name, a.mobile, a.description, a.ege, a.zi_zhi, a.audit_status,
        a.audit_people, a.audit_time, a.type_name, a.mgr_id,b.name as audit_people_name,
        (
        CASE
        WHEN a.audit_status = 1 THEN '通过审核'
        WHEN a.audit_status = 2 THEN '未通过审核'
        ELSE '未审核' END
        ) AS audit_status_name
        from work_people a
        LEFT JOIN sys_user b ON a.audit_people = b.user_id
        where 1=1
        <if test="condition != null and condition != ''">
            AND a.NAME like CONCAT('%',#{condition},'%')
        </if>
        <if test="typeName != null and typeName != ''">
            AND a.type_name = #{typeName}
        </if>
        order by id DESC
    </select>


    <select id="getCombo" resultType="map">
        select mgr_name as text,id as value from mgr
    </select>

</mapper>